<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>BeeProtector</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!--weather    -->
    <link rel="stylesheet" href="/css/weather-icons.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- This is for the mapbox map.  -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet'/>
    <!-- This is used for the Geocoding Mapbox API -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
          type='text/css'/>

</head>

<body>

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.jpg" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/plants">Plants</a></li>
                    <li class="nav-item" ><a class="nav-link" href="/pesticide">Avoid Pesticides</a></li>
                    <li class="nav-item"><a href="/plantList" class="nav-link ">Favorite Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Explore detail and grow them well!</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Plants</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Gallery  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Plants Guide</h1>
                    <p>Let’s Learn how to plant it effectively!</p>
                </div>
            </div>
        </div>


        <div class="row special-list">
            <div class="col-md-6 special-grid">
                <div class="products-single fix ">
                    <div class="box-img-hover">
                        <div class="type-lb" style="display: none"> <p class="sale"><i class="far fa-heart"></i>     </p> </div>
                        <img th:src="${plant.getImgLink()}" class="img-detail" alt="Image">
                        <ul class="add-to-list"><a href="#" class="btn hvr-hover">Add to Favorite</a></ul>
                    </div>
                </div>
            </div>
            <div class="special-grid" style="align-content: center; width: 50%;margin-top: 5%">
                <div class="products-single fix ">
                    <p>
                    <h1 style="font-size: 30px; font-weight: bolder; ">Plant Profile </h1>
                    <label class="guide-title">Botanical Name:</label> <span th:text="${plant.getbName()}"/> <br>
                    <label class="guide-title">Common Name:</label> <span th:text="${plant.getcName()}"></span> <br>
                    <label class="guide-title season">Flowering Months:</label> <span class="season-span"></span><br
                        class="season">
                    <label class="guide-title smell">Smell:</label> <span class="smell-span"></span>
                    <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery  -->

<!-- Start Guide  -->
<div class="products-box" style="padding: 0">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                <div class="products-single fix">
                    <p>
                        <label class="guide-title">Water Level:</label> <span th:text="${guide.getWaterNeed()}"/>

                        <br>
                    <div class="guide-light">
                        <label class="guide-title">Light Level:</label> I can grow under
                        <span th:text="${guide.getLightNeed()}"></span>
                    </div>
                    <div class="guide-soil">
                        <label class="guide-title">Soil Type:</label> I can grow in
                        <span th:text="${guide.getSoilType()}"></span>
                    </div>
                    <div class="guide-soil-add">
                        <label class="guide-title">Soil Addition:</label> <span th:text="${guide.getSoilAdd()}"></span>
                    </div>
                    <div class="guide-height">
                        <label class="guide-title">Height Range:</label> <span th:text="${guide.gethRange()}"></span>
                    </div>
                    <div class="guide-spread">
                        <label class="guide-title">Spread Range:</label> <span th:text="${guide.getsRange()}"></span>
                    </div>
                    <label class="guide-title">Climate:</label> <span th:text="${guide.getClimate()}"></span> <br>
                    <label class="guide-title">Maintenance:</label> <span
                        th:text="${guide.getMaintenance()}"></span> <br>

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="weather">
                    <div class="current">
                        <div class="info">
                            <div>&nbsp;</div>
                            <div class="city"><small><small>CITY:</small></small> London</div>
                            <div class="temp">67&deg; <small>F</small></div>
                            <div class="wind"><small><small>WIND:</small></small> 22 km/h</div>
                            <div>&nbsp;</div>
                        </div>
                        <div class="icon">
                            <span class="wi-day-sunny"></span>
                        </div>
                    </div>
                    <div class="future">
                        <div class="day">
                            <h3>Mon</h3>
                            <p><span class="wi-day-cloudy"></span></p>
                        </div>
                        <div class="day">
                            <h3>Tue</h3>
                            <p><span class="wi-showers"></span></p>
                        </div>
                        <div class="day">
                            <h3>Wed</h3>
                            <p><span class="wi-rain"></span></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<!-- End Guide  -->


<!-- Start Map  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Check if someone saw wild <span th:text="${plant.getcName()}"/> in Victoria</h1>
                </div>
            </div>
        </div>
        <div class="products-single fix ">
            <div id="map" style="height: 500px; width: 100%">

            </div>
        </div>

    </div>
</div>
<!-- End Map  -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-01.jpg" alt=""/>
                <!-- <div class="hov-in">
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>-->
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-02.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-03.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-04.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-05.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-06.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-07.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-08.jpg" alt=""/>
            </div>
        </div>

    </div>
</div>
<!-- End Instagram Feed  -->


<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Beeprotector</h4>
                        <p>Australian native bees are under threat, in spite of the beauty and value of these remarkable
                            insects. Our native bees delight observant gardeners with their dazzling colours and their
                            fascinating behaviour. </p>
                        <p>Our native bees are also vital pollinators --- they help our wildflowers to survive and
                            increase the yield of many of our agricultural crops.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/more">More Detail to Bee Friendly Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Level 6, Building H <br>Monash
                                    University (Caulfield Campus)<br> VIC 3610 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: lshi0018@student.monash.edu</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Beeprotector</a> Design By :
        <a href="https://html.design/">Spector</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


<!-- ALL JS FILES -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/inewsticker.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/custom.js"></script>
<script>
    $(function () {
        //Profile
        var season = "[[${plant.getSeason()}]]";
        if (season == "n") {
            $(".season").hide();
            $(".season-span").hide();
        } else {
            var seasonList = season.split(",");
            var seasonStr = "";
            const month = {
                1: "Jan",
                2: "Feb",
                3: "Mar",
                4: "Apr",
                5: "May",
                6: "Jun",
                7: "Jul",
                8: "Aug",
                9: "Sep",
                10: "Oct",
                11: "Nov",
                12: "Dec"
            };
            const map = new Map(Object.entries(month));
            for (var i in seasonList) {
                seasonStr += "  " + map.get(seasonList[i]);
            }
            $(".season-span").html(seasonStr);
        }


        var smell = [[${guide.getSmell()}]];
        if (smell === 1) {
            $(".smell-span").html("It produces good smell!");
        } else {
            $(".smell").hide();
            $(".smell-span").hide()
        }

        //guide present
        const lightImg = {"Sun":"/images/sun-img.png", "Semi-shade":"/images/semi-shade-img.png", "Shade":"/images/shade-img.png"};
        const lightMap = new Map(Object.entries(lightImg));
        var light = "[[${guide.getLightNeed()}]]";
        var lightList = light.split(",");
        for(var  i in lightList){
            $(".guide-light").append(' <img src='+ lightMap.get(lightList[i]) +' width="50" height="50"> ');
        }

        const soilImg = {"Loam":"/images/loam-img.png", "Sand":"/images/sand-img.png", "Clay":"/images/clay-img.png"};
        const soilMap = new Map(Object.entries(soilImg));
        var soil = "[[${guide.getSoilType()}]]";
        var soilList = soil.split(",");
        for(var  i in soilList){
            $(".guide-soil").append(' <img src='+ soilMap.get(soilList[i]) +' width="50" height="50"> ');
        }

        var soilAdd = "[[${guide.getSoilAdd()}]]";
        var height = "[[${guide.gethRange()}]]";
        var spread = "[[${guide.getsRange()}]]";
        if(soilAdd === "n"){$(".guide-soil-add").hide()}
        if(height === "n"){$(".guide-height").hide()}
        if(spread === "n"){$(".guide-spread").hide()}

        //show map start
        let msg = "[[${records}]]";
        var records = $.parseJSON(msg.replace(/&quot;/g, '"'));
        var data = getData(records);
        const TOKEN = "pk.eyJ1Ijoiamh1YTAwNjQiLCJhIjoiY2p2am42dnl2MDJ6bjRhb2R6aDhxNm4zbiJ9.CVW2cOXvLAhOUyW6ISnG8g";
        showMap(data);

        function getData(records) {
            var data = [];
            var name = "[[${plant.getcName()}]]";
            if (records.length <= 0) {
                var feature = {
                    "type": "Feature",
                    "properties": {
                        "description":
                            '<strong>Unfortunately</strong>' +
                            '<p>It seems that nobody has seen  ' + name + '... </p>',
                        "icon": "information"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [144.9633, -37.8184]
                    }
                };
                data.push(feature)
            }
            ;

            for (var r in records) {
                var date = records[r].date;
                date = new Date(Date.parse(date)).toDateString();
                var feature = {
                    "type": "Feature",
                    "properties": {
                        "description":
                            '<strong>' + name + '</strong>' +
                            '<p>It was found here at ' + date + '</p>',
                        "icon": "garden"
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [records[r].longitude, records[r].latitude]
                    }
                };
                data.push(feature)
            }
            return data;
        }

        function showMap(data) {
            mapboxgl.accessToken = TOKEN;
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: data[0].geometry.coordinates,
                zoom: 9
            });

            map.on('load', function () {
                // Add a layer showing the places.
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": data
                        }
                    },
                    'layout': {
                        'icon-image': '{icon}-15',
                        'icon-size': 2,
                        'icon-allow-overlap': true
                    }
                });

                // Create a popup, but don't add it to the map yet.
                var popup = new mapboxgl.Popup({
                    closeButton: false,
                    closeOnClick: false
                });

                map.on('mouseenter', 'places', function (e) {
                    // Change the cursor style as a UI indicator.
                    map.getCanvas().style.cursor = 'pointer';

                    var coordinates = e.features[0].geometry.coordinates.slice();
                    var description = e.features[0].properties.description;

                    // Ensure that if the map is zoomed out such that multiple
                    // copies of the feature are visible, the popup appears
                    // over the copy being pointed to.
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }

                    // Populate the popup and set its coordinates
                    // based on the feature found.
                    popup
                        .setLngLat(coordinates)
                        .setHTML(description)
                        .addTo(map);
                });

                map.on('mouseleave', 'places', function () {
                    map.getCanvas().style.cursor = '';
                    popup.remove();
                });
            });

        }

        let pId = [[${plant.getId()}]];
        showHeart(pId)
        function showHeart(pId) {
            let list = JSON.parse(sessionStorage.getItem('list'));
            var  aTag = $('.add-to-list a');
            var heart = $('.type-lb');
            for(var i in list){
                if(pId === list[i].id){
                    heart.show();
                    aTag.hide();
                    return
                }
            }
            heart.hide();
            aTag.show();

            aTag.on('click',function (e) {
                e.preventDefault();
                heart.show();
                let data = {'id': pId};
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/plantList/plants",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    cache: false,
                    timeout: 60000,
                    success: function (data) {
                        var info = data['guide'];
                        info['name'] = data['name'];
                        info['link'] = data['link'];
                        list.push(info);
                        sessionStorage.setItem('list', JSON.stringify(list));
                    }
                });
                aTag.hide();
            })

        }

    })


</script>
</body>

</html>