<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>BeeProtector</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.jpg"  class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/plants">Plants</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/pesticide">Avoid Pesticides</a></li>
                        <li class="nav-item"><a href="/plantList" class="nav-link ">Favorite Plants</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Choose plants you like to be at your garden!</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Plants</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Gallery  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Plants Gallery</h1>
                        <p>Choose features of plants to decorate your garden and attract bees!
                            <a href="/more#target-rule" data-toggle="popover" >
                                <b>Tips</b></a></p>
                        <br>
                        <form>
                            <input type="search" class="search-input" placeholder="Search Plants" required="required">
                            <select class="search-select search-input">
                                <option>All Filters</option>
                                <option>Type</option>
                                <option>Color</option>
                                <option>Flowering Month</option>
                            </select>
                            <button class="search-button ml-auto">Search now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-left">
                        <div class="button-group filter-button-group" data-filter-group="type">
                            <button class="active" data-filter="">All Type</button>
                            <button data-filter=".herb">Herb</button>
                            <button data-filter=".shrub">Shrub</button>
                            <button data-filter=".tree">Tree</button>
                            <button data-filter=".veg">Vegetable</button>
                            <button data-filter=".aquatic">Aquatic</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="special-menu text-left">
                        <div class="button-group filter-button-group" data-filter-group="color">
                            <button class="active" data-filter="">All Color</button>
                            <button data-filter=".blue">Blue</button>
                            <button data-filter=".purple">Purple</button>
                            <button data-filter=".yellow">Yellow</button>
                            <button data-filter=".white">White</button>
                            <button data-filter=".red">Red</button>
                            <button data-filter=".orange">Orange</button>
                            <button data-filter=".pink">Pink</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="special-menu text-left">
                        <div class="button-group filter-button-group" data-filter-group="month">
                            <button class="active" data-filter="" id="test">Flowering Month</button>
                            <button data-filter=".1">1</button>
                            <button data-filter=".2">2</button>
                            <button data-filter=".3">3</button>
                            <button data-filter=".4">4</button>
                            <button data-filter=".5">5</button>
                            <button data-filter=".6">6</button>
                            <button data-filter=".7">7</button>
                            <button data-filter=".8">8</button>
                            <button data-filter=".9">9</button>
                            <button data-filter=".10">10</button>
                            <button data-filter=".11">11</button>
                            <button data-filter=".12">12</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row special-list">

            </div>
        </div>
    </div>
    <!-- End Gallery  -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-01.jpg" alt="" />
                    <!-- <div class="hov-in">
                         <a href="#"><i class="fab fa-instagram"></i></a>
                     </div>-->
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-02.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-03.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-04.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-05.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-06.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-07.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/images/instagram-img-08.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Beeprotector</h4>
                            <p>Australian native bees are under threat, in spite of the beauty and value of these remarkable insects. Our native bees delight observant gardeners with their dazzling colours and their fascinating behaviour. </p>
                            <p>Our native bees are also vital pollinators --- they help our wildflowers to survive and increase the yield of many of our agricultural crops.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/more">More Detail to Bee Friendly Guide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Level 6, Building H <br>Monash University (Caulfield Campus)<br> VIC 3610 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: lshi0018@student.monash.edu</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Beeprotector</a> Design By :
            <a href="https://html.design/">Spector</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement : 'right',
                trigger: 'hover',
                title: 'Do you know ?',
                html:true,
                content: 'Bees find blue, purple and yellow flowers most appealing. <br>' +
                    'Herbs and Edible Flowers are always helpful.'

            });


            let msg = "[[${plants}]]";
            var plants = $.parseJSON(msg.replace(/&quot;/g,'"'));
            for(var p in plants){
                var season = plants[p]["season"].split(',')
                plants[p]["season"] = season;
            }

            function createDiv(plant) {
                $('.special-list').append('<div class="col-lg-3 col-md-6 special-grid" id='+ plant.id +'>\n' +
                    '                    <div class="products-single fix">\n' +
                    '                        <div class="box-img-hover">\n' +
                    '<div class="type-lb" style="display: none"> <p class="sale"><i class="far fa-heart"></i>     </p> </div>\n' +
                    '                            <img src='+ plant.imgLink +' class="img-fluid" alt="Image">\n' +
                    '                            <div class="mask-icon">\n' +
                    '                                <ul>\n' +
                    '                                    <li ><a href="#" data-toggle="tooltip" data-placement="right" title="Add to favorite list"><i class="far fa-heart"></i></a></li>\n' +
                    '                                </ul>\n' +
                    '                                <a class="cart" href="/detail/'+plant.id +'" data-toggle="tooltip" title="View Detail">'+ plant.cName +'</a>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                </div>');

                $('#'+plant.id).addClass(plant.color)
                var type = plant.type;
                if(type == "fruit/vegetable"){
                    $('#'+plant.id).addClass("veg");
                }else{
                    $('#'+plant.id).addClass(type);
                };

                var season = plant.season;
                for(var i in season){
                    if(season[i] == 'n'){
                        break;
                    }
                    $('#'+plant.id).addClass(''+season[i]);
                }
            }
            function buildGrid() {

                        for(var i in plants){
                            createDiv(plants[i]);
                        }
            }
            buildGrid();

            showHeartIcon();
            function showHeartIcon() {
                let list = JSON.parse(sessionStorage.getItem('list'));
                for(var i in list){
                    var pId = list[i].id;
                    $('#'+pId+' .type-lb').show();
                }
            }

            function addToFavorite() {
                $('.mask-icon li a').on('click',function (e) {
                    e.preventDefault();

                    var pId = $(this.closest('.special-grid'))[0].id;

                    var list = sessionStorage.getItem('list');
                    list = JSON.parse(list);
                    if(list[0] == null){
                        list = [];
                    }else{
                        for (let i = 0; i < list.length; i++) {
                            if(list[i]['id'] === pId){
                                return;
                            }
                        }
                    }
                    var d = $(this.closest('.box-img-hover'))[0];
                    var t = d.children[0];
                    t.style.display = 'block';

                    setData(pId, list);

                })
            }

            function setData(id, list) {
                let data = {'id': id};
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/plantList/plants",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    cache: false,
                    timeout: 60000,
                    success: function (data) {
                        var info = data['guide'];
                        info['name'] = data['name'];
                        info['link'] = data['link'];
                        list.push(info);

                        sessionStorage.setItem('list', JSON.stringify(list));
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }
            addToFavorite();
        });

    </script>
</body>

</html>