<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>BeeProtector</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!--weather    -->
    <link rel="stylesheet" href="/css/weather-icons.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.jpg" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/plants">Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="/plantList">Favorite Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pesticide">Avoid Pesticides</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->


<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="/images/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Why do we need<br> to help Bees!</strong></h1>
                        <p class="m-b-40">Bees help our wildflowers to survive and increase the yield of many of our agricultural crops,<br>Australian native Bees are
                            under threat.</p>
                        <p><a class="btn hvr-hover" href="/more">Learn more</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/images/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>What we can do<br> to help Bees!</strong></h1>
                        <p class="m-b-40">There are so many things to help bees, for example, build a bee garden<br> to
                            attract and help bees.</p>
                        <p><a class="btn hvr-hover" href="/more#target-way">Learn more</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/images/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Start your Journey<br> from Growing Bee friendly Plants!</strong></h1>
                        <p class="m-b-40">See how can you design your garden by planting bee friendly flowers <br> to
                            attract and help bees.</p>
                        <p><a class="btn hvr-hover" href="/plants">Choose Plants</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="/images/categories_img_01.jpg" alt=""/>
                    <a class="btn hvr-hover" href="/plants">Choose Your Plants
                        <!--<br>Select bee friendly plants you like--></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="/images/categories_img_02.jpg" alt=""/>
                    <a class="btn hvr-hover" href="/plantList">Favorite Plants List
                    <!--<br>Where plants you likes will be located here--></a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="/images/categories_img_03.jpg" alt=""/>
                    <a class="btn hvr-hover" href="/pesticide">Check Your Pesticide
                    <!--<br>See how bee harmful is your pesticide--></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
<hr style="font-size: 2px; width: 50%"; >
<!--Start Weather Forecast-->
<div class="products-box" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Get to know weather can help decide <br>when to grow bee friendly plants and use pesticide better</h1>
                </div>
            </div>
        </div>
        <div class=" col-md-10 mx-auto" >
            <div class="weather">
                <div class="current">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city"><small><small>CITY:</small></small> <span >Melbourne</span></div>
                        <div class="temp"><span >24&deg;</span> <small>C</small></div>
                        <div class="wind">
                            <small><small>WIND:</small></small> <span class="wind-val">22 </span> km/h
                            <small><small>HUMID:</small></small> <span class="humid">22 </span>
                            <small><small>PRESSURE:</small></small> <span class="pressure">22 </span>
                        </div>

                    </div>
                    <div class="icon">
                        <p></p>
                        <span style="font-size: 48px"></span>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Mon</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                    <div class="day">
                        <h3>Tue</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                    <div class="day">
                        <h3>Wed</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                    <div class="day">
                        <h3>Thu</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                    <div class="day">
                        <h3>Fri</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                    <div class="day">
                        <h3>Sat</h3>
                        <p><span ></span></p>
                        <p class="temp"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End Weather Forecast-->
<hr style="font-size: 2px; width: 50%"; >
<!-- Start Plant Recommendation  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Our Suggestions</h1>
                    <p><b>Start from our suggestions and explore more by yourselves</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center recommendation">
                    <div class="button-group filter-button-group">
                        <button data-filter=".top-featured">User's Top Selection</button>
                        <button data-filter=".best-seller">Our Best Recommendation</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-rec-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="/images/gallery-img-2299.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="/detail/2299" data-toggle="tooltip" data-placement="right" title="View"><i
                                        class="fas fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Sarsaparilla Vine</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img th:src="${topPlants.get(0).getImgLink()}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a th:href="'/detail/'+${topPlants.get(0).getId()}" data-toggle="tooltip" data-placement="right" title="View"><i
                                        class="fas fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4 th:text="${topPlants.get(0).getcName()}"></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img th:src="${topPlants.get(1).getImgLink()}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a th:href="'/detail/'+${topPlants.get(1).getId()}" data-toggle="tooltip" data-placement="right" title="View"><i
                                        class="fas fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4 th:text="${topPlants.get(1).getcName()}"></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="/images/gallery-img-3673.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="/detail/3673" data-toggle="tooltip" data-placement="right" title="View"><i
                                        class="fas fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Blue Stars</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Plant Recommendation  -->


<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-01.jpg" alt=""/>
                <!-- <div class="hov-in">
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>-->
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-02.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-03.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-04.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-05.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-06.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-07.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-08.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->

<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Beeprotector</h4>
                        <p>Australian native bees are under threat, in spite of the beauty and value of these remarkable
                            insects. Our native bees delight observant gardeners with their dazzling colours and their
                            fascinating behaviour. </p>
                        <p>Our native bees are also vital pollinators --- they help our wildflowers to survive and
                            increase the yield of many of our agricultural crops.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/about#disclaimer">Copyright</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Level 6, Building H <br>Monash
                                    University (Caulfield Campus)<br> VIC 3610 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: lshi0018@student.monash.edu</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Beeprotector</a> Design By :
        <a href="/about">Spector</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/inewsticker.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>