<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>BeeProtector</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo.jpg" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/plants">Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pesticide">Avoid Pesticides</a></li>
                    <li class="nav-item active"><a href="/plantList" class="nav-link ">Favorite Plants</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Plants - all plants you selected will present here</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active"> List</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start plant list  -->
<div class="products-box plant-list">

    <div class="container" >
        <div class="temp-msg" style="display: none">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>You have not chosen any plants yet !</h1>
                        <h1>Start from our suggestions and explore more by yourselves</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center recommendation">
                        <div class="button-group filter-button-group">
                            <button data-filter=".top-featured">User's Top Selection</button>
                            <button data-filter=".best-seller">Our Best Recommendation</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-rec-list ">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="/images/gallery-img-2299.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="/detail/2299" data-toggle="tooltip" data-placement="right" title="View Detail"><i
                                            class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Sarsaparilla Vine</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img th:src="${topPlants.get(0).getImgLink()}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a th:href="'/detail/'+${topPlants.get(0).getId()}" data-toggle="tooltip" data-placement="right" title="View"><i
                                            class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 th:text="${topPlants.get(0).getcName()}"></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img th:src="${topPlants.get(1).getImgLink()}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a th:href="'/detail/'+${topPlants.get(1).getId()}" data-toggle="tooltip" data-placement="right" title="View"><i
                                            class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 th:text="${topPlants.get(1).getcName()}"></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="/images/gallery-img-3673.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="/detail/3673" data-toggle="tooltip" data-placement="right" title="View Detail"><i
                                            class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Blue Stars</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>You can even find more plants on our <a href="/plants">PLANT GALLERY !</a></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center" style="position: relative">
                    <h1 class="guide-msg">Here are all bee friendly plants you like</h1>
                    <div  style="float: right; background-color: #ffc107;margin-bottom: 5%" id="download-list">
                        <a href="#" style="padding: 5px; font-size: 28px; " id="cmd" data-toggle="tooltip" title="download as pdf">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="row favorite-list" id="content">

        </div>
        <div id="editor"></div>
    </div>
</div>
<!-- End plant list -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-01.jpg" alt=""/>
                <!-- <div class="hov-in">
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>-->
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-02.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-03.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-04.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-05.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-06.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-07.jpg" alt=""/>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="/images/instagram-img-08.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->

<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Beeprotector</h4>
                        <p>Australian native bees are under threat, in spite of the beauty and value of these remarkable
                            insects. Our native bees delight observant gardeners with their dazzling colours and their
                            fascinating behaviour. </p>
                        <p>Our native bees are also vital pollinators --- they help our wildflowers to survive and
                            increase the yield of many of our agricultural crops.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/more">More Detail to Bee Friendly Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Level 6, Building H <br>Monash
                                    University (Caulfield Campus)<br> VIC 3610 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: lshi0018@student.monash.edu</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Beeprotector</a> Design By :
        <a href="https://html.design/">Spector</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/inewsticker.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="/js/custom.js"></script>

<script>

    checkList();

    //check if list is empty
    function checkList(){
        let list = JSON.parse(sessionStorage.getItem('list'));
            if(list == null || list.length === 0){
            $('.temp-msg').show();
            $('.guide-msg').hide();
            $('#cmd').hide();
        }else{
            $('.temp-msg').hide();
            $('.guide-msg').show();
            showPlant(list);
            $('#cmd').show();
        }
    }

    // show all plants in favorite list
    function showPlant(list) {
        for(var i in list){
            var guide = list[i];
            addGrid(guide);
        }
    }
    function addGrid(guide) {
        let water = guide.waterNeed
        water = water.replace("mm","");
        water = water.split("to");
        let min = (parseInt(water[0])/48).toFixed(1);
        let max = (parseInt(water[1])/48).toFixed(1);
        guide.waterNeed = min+" L /m<sup>2</sup> - " +max+" L /m<sup>2</sup> per week"
        $('.favorite-list').append('    <div class="col-md-6 special-grid" >\n' +
            '                    <div class="products-single fix ">\n' +
            '<div class="type-lb" > <p class="sale"><a href="#" class="delete" value='+guide.id+'><i class="far fa-trash-alt"></i></a></p> </div>\n'+
            '                        <div class="box-img-hover">\n' +
            '                            <img src=' + guide.link + ' class="img-detail" alt="Image">\n' +
            '                        </div>\n' +
            '                        <div class="why-text" >\n' +
            '                            <h4>' + guide.name + '</h4>\n' +
            '                            <p>\n' +
            '                                <label class="list-title">Water Level:</label> <span>' + guide.waterNeed + '</span><br>\n' +
            '                                <label class="list-title">Light Level:</label> <span>' + guide.lightNeed + ' </span> <br>\n' +
            '                                <label class="list-title">Soil Type:</label> <span>' + guide.soilType + ' </span>\n' +
            '                                <label class="list-title">Soil Condition:</label> <span>' + guide.soilAdd + '</span>\n' +
            '                            </p>\n' +
            '                            <p>\n' +
            '                                <label class="list-title">Height Range:</label> <span>' + guide.hRange + '</span>\n' +
            '                                <label class="list-title">Spread Range:</label> <span>' + guide.sRange + ' </span> <br> \n' +
            '                                <label class="list-title">Climate:</label> <span>' + guide.climate + ' </span> <br>\n' +
            '                                <label class="list-title">Maintenance:</label> <span>' + guide.maintenance + ' </span> <br>\n' +
            '                            </p>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                </div>')
    }

    // delete plant from list
    deletePlant();
    function deletePlant() {
        $('.delete').on('click',function (e) {
            e.preventDefault();
            var div = $(this.closest('.special-grid'))[0];
            div.style.display = 'none';
            var id = $(this).attr('value');
            let list = JSON.parse(sessionStorage.getItem('list'));
            for(var i in list){
                if(id == list[i]['id']){
                    list.splice(i,1);
                    sessionStorage.setItem('list',JSON.stringify(list));
                    if(list.length === 0){
                        location.reload();
                    }
                    return;
                }
            }

        })
    }

    //download as pdf
    downloadPdf();
    function downloadPdf() {
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#cmd').click(function (e) {
            e.preventDefault();
            var doc = new jsPDF("p", "mm", "a4");
            html2canvas(document.querySelector('#content')).then(function(canvas){
                var imgData = canvas.toDataURL('image/png');
                var pageHeight = 295;
                var imgWidth = (canvas.width * 30) / 210 ;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;
                var position = 15;

                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                    position = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                    heightLeft -= pageHeight;
                }
                doc.save('plant-list.pdf');
            });

        });

    }

</script>

</body>

</html>